<p-toast></p-toast>
  <div class="formulario col-md-4 offset-md-4">
    <form [formGroup]="form" >
      <div>
          <label for="name">Nombre:</label><br>
          <input type="text" id="name" formControlName="nombre" />
      </div>
      <div>
          <label for="estado">Estado:</label><br>
          <input type="text" id="estado" formControlName="estado" />
      </div>
      <div>
          <label for="descripcion">Descripción:</label><br>
          <textarea id="descripcion" formControlName="descripcion"></textarea>
      </div>

      <button (click)="crearCategorias()" [disabled]="form.invalid">Guardar</button>


      <p-table [value]="categorias" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.descripcion}}</td>
                <td>{{rowData.estado}}</td>
            </tr>
        </ng-template>
    </p-table>



    </form>
  </div>

